
body{
    width: 280px;
}

div{
    font-weight: bold;
}

p{
    background: yellow;
}

.asteroid{
    border: 1px solid green;
}

.big{
    color: blue;
    border: 0;
}

.backbutton{
	background-color: #222;
	border-radius: 25%;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 18px;
	opacity: 0.2;
  }
  
  .backbutton:hover{
	  color: #FFDC00;
	  opacity: 1;
	  transition-duration: 0.5s;
  }
  
  .backlink{
	  text-decoration: none;
	  color: white;
  }
  
  .backlink:hover{
	  color: #FFDC00;
	  opacity: 1;
	  transition-duration: 0.5s;
  }
  